.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 8px;
    border-bottom: 2px solid rebeccapurple;
    margin-bottom: 30px;
    background-color:#fcf0f0;
  }
  
  .mainContainer{
    display: flex;
    justify-content: center;
    background-color:#fcf0f0;
  }
  
  
  .linkContainer{
    display: flex;
    align-items: center;
  }
  
  .linkContainer a {
      margin: 0 20px;
      color: black;
      font-size: 20px;
      font-family: inherit;
      text-decoration: none;
      font-weight: 600;
      transition: all .3s;    
    }
  
    .hover {
      
      display: inline-block;
      position: relative;
      color: #FCA311;
    }
    
    .hover:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: -5px;
      left: 0;
      background-color: rebeccapurple;
      transform-origin: bottom right;
      transition: transform 0.5s ease-out;
    }
    
    .hover:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    
    .navContainer a:hover {

      color: rebeccapurple;
      transform: translateZ(5px);
    }
  
  