.title {
    font-size: 40px;
    font-family: inherit;
    margin: 0;
    color: white;
    padding: 5px;
    background-color: rebeccapurple;
    border-radius: 5px;
    width: fit-content;
    padding-right: 70px;
    padding-left: 70px; 
    margin-bottom: 30px;
  }
  
  .secondContainer {
    display: flex;
    color: #fcf0f0;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
  }
  
  .dataContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
  }
  
  .breedContainer {
    justify-content: center;
  }
  
  .tempContainer {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .img {
    width: 570px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
   
  }
  
  .imgContainer {
    width: 600px;
    height: 540px;
    object-fit: scale-down;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fcf0f0;
    
    
    
  }
  
  .info {
    font-weight: 400;
    color: rebeccapurple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
  }
  
  .button {
    color: white;
    background-color: #fca311;
    border-radius: 5px;
    border: none;
    font: inherit;
    padding: 15px;
    outline: none;
  }
  
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #fcf0f0;
  }
  
  .breedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    
  }
  
  .temperament {
    display: inline-block;
    margin: 5px;
    color: white;
    background-color: rebeccapurple;
    border-radius: 5px;
    width: fit-content;
    padding: 7px;
    font-weight: 400;
    
  }
  
  .tempButtons {
    align-items: center;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rebeccapurple;
    color: white;
    font-size: 20px;
    font-family: inherit;
    
  }
  
  .arrow {
    font-size: 60px;
    position: absolute;
    top: 10px;
    left: 100px;
    color: #fca2115e;
    border-radius: 5px;
    transform: rotateY(-180deg);
  }
  
  .arrow:hover {
    color: #fca311;
    transition: all 0.5s;
    cursor: pointer;
  }