.formContainer {
    display: flex;
  }
  
  ::placeholder {
    opacity: 1;
  }
  
  .input {
    font-family: inherit;
    background-color: #fca21136;
    border-radius: 5px;
    margin-right: 4px;
    border: 3px solid #14213d;
    outline: none;
    left: 30%;
    background: #2f3640;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;

  }
  
  .input:hover {
    font-family: inherit;
    background: white;
    transition: 0.9s;

  color : #2f3640;
    outline: none;
  }
  
  .input:focus {
    border: 3px solid rebeccapurple;
    background-color: white;
  }
  
  .search {
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
  }
  
  .searchBarContainer {
    display: flex;
  }
  
  .button {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.9s;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button:hover {
    color: white;
    background-color: rebeccapurple;
  }